<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">    
  </head>
<body>

    <nav class="navbar navbar-light px-3" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand">MY BLOG 🤘🏻</a>
          <form class="d-flex">
                {% if user.is_authenticated  %}
                    <a href="/logout" class="btn  btn-success">Logout</a>
                {% else %}  
                    <a href="/register" class="btn btn-outline-success mx-3" type="submit">Sign Up</a>
                    <a href="/login" class="btn  btn-success" type="submit">Login</a>
                {%  endif  %}
          </form>
        </div>
    </nav>

    <nav class="navbar navbar-light bg-light px-4">
      <form class="container-fluid ">
          <div class="justify-content-start">
            <a href ="/" class="btn btn-sm btn-outline-secondary {{home_button}}" >Home</a>
            <a href ="/posts" class="btn btn-sm btn-outline-secondary mx-2 {{allpost_button}}" >All Posts</a>
            <a href ="/articles" class="btn btn-sm btn-outline-secondary {{allarticle_button}}" >All Articles</a>
          </div>
          {% if user.is_authenticated  %}
          <div class="justify-content-end" style="display: {{create_post_displayflag}};">
            <a href ="/create/post" class="btn btn-sm btn-secondary me-2" >Create Posts +</a>
            <a href ="/create/article" class="btn btn-sm btn-secondary me-2" >Create Articles +</a>
          </div>
          {%  endif  %}
      </form>      
    </nav>

    
{%  block content   %}


{%  endblock    %}
     
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>