{% extends 'base.html'  %}

{% block content  %}


<div class="container my-3">
  <div class="row ">
    <hr style="margin-top: 5px;">
      <h2 style="color: #263238; margin-bottom: 40px;">Latest Posts ..</h2>
        {% for p in post %}            
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-capitalize">{{p.article.title}}</h6>
            <p class="card-text">{{ p.content|truncatechars:280 }}</p>
            <a href="/posts/view/{{p.id}}" class="card-link">Continue Reading →</a>
          </div>
        </div>
        {% endfor %}
  </div>
</div>


{%  endblock  %}

