{% extends 'base.html' %}

{% block content %}

    <form class="m-4 " method="POST">
        {% csrf_token %}
        <hr>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>Post Title</b></label>
            <input required type="text" class="form-control" id="exampleFormControlInput1"  placeholder="Write Post Title" name='post_title' value="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><b>Post Content</b></label>
            <textarea required class="form-control" id="exampleFormControlTextarea1" rows="5"  name='post_content' >{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Done</button>
        <input type="button" onclick=history.back() class="btn btn-secondary mx-2" value="Cancel" />
    </form>

{% endblock %}