{% extends 'base.html' %}
    
{% block content %} 

  <div class="container my-3">
    <div class="row ">
      <hr style="margin-top: 5px;">           
        <div class="card " >
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted text-capitalize">{{post.article.title}}</h6>
              <p class="card-text">{{ post.content }}</p>
              {% if flag  %}
              <a href="edit/" class="btn btn-sm btn-secondary">Edit</a>
              <button onclick= "delete_alert()"  class="btn btn-sm btn-danger mx-2">Delete</button>
              <script>
                function delete_alert(){
                  value = confirm("Are you sure want to delete Post ?");
                  if (value == 1){
                    window.location.href = "delete/"; } }
              </script>
              {% endif  %}
              {% if user.is_authenticated  %}
                <form method='POST' class="input-group my-3">
                  {% csrf_token %}
                  <input type="text" class="form-control" name='comment' required placeholder="Write Your Comment Here ....." aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-success" type="submit" id="button-addon2">Comment</button>
                </form>
              {% else %}
                <div class="input-group my-3">                        
                  <input  type="text" class="form-control " disabled placeholder="Hey! Please Login For Comment." aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button  class="btn btn-success disabled" type="button" id="button-addon2">Comment</button>
                </div>
              {% endif  %}
            </div>           
            <div class="card mb-4">
              <div class="card-header">
                <h5>Comments -</h5>
              </div>
              {%   for c in comments   %}
              <div class="card-body  py-1" style="background-color: #FFF9C4; border-bottom: 1px solid #B0BEC5;">
                <b class="card-title text-capitalize">{{c.user.username}}</b>
                <p class="card-title">{{c.comment}}</p>
              </div>
              {%  endfor %}
            </div>
        </div> 
    </div>
  </div>

{% endblock %}