{%  extends 'base.html' %}

{%  block content %} 

  <div class="container my-3">
    <div class="row ">
      <hr style="margin-top: 5px;">
      <h2 style="color: #263238; margin-bottom: 40px;">All Articles ..</h2>                   
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Desciption</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for a in article %}
          <tr>
            <th scope="row">{{index|add:'1'}}</th>
            <td><b class="text-capitalize">{{a.title}}</b></td>
            <td>{{a.desc}}</td>
            <th><a href ="/posts/{{a.title}}" class="btn btn-sm btn-success " >View ➞</a></td>
          </tr>
          {% endfor %}      
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}


     