{% extends 'base.html' %} 

{% block content %}

    <form class="m-4 " method="POST">
        {% csrf_token %}
        <hr>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>Article Title</b></label>
            <input required type="text" class="form-control" id="exampleFormControlInput1"  placeholder="Write Article Title" name='article_title'>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><b>Article Description</b></label>
            <textarea required class="form-control" id="exampleFormControlTextarea1" rows="2"  name='article_desc'></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add +</button>
        <input type="button" onclick=history.back() class="btn btn-secondary mx-2" value="Cancel" />
    </form>

{%  endblock %}