<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
        html,body{
            height: 100%; }
        #signup{
            border: 1px solid #BDBDBD;
            border-radius: 16px 16px 16px 16px;
            padding: 25px 30px;
            width: 400px;    
            box-shadow: 5px 5px 7px #BDBDBD;
            height: fit-content;  }
        #alert{
            display:none;
        }
        .inputBox{
            margin: 5px 0px 20px 0px;   }
        .inputFieldBox{
            display: flex;
            flex-direction: column;
             padding: 5px 0px;   }
        .inputFieldBox label{
            margin: 2px 0px;
            color: #37474F;
            font-weight: bold;
            font-size: 16px;   }
        .inputFieldBox input{
            margin: 2px 0px;
            padding: 3px;
            border-radius: 3px;
            border: 1px solid #37474F;   }
    </style>
</head>
<body>
    

    {% block content %}

    {% endblock    %}

    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>