{%  extends 'user/base.html' %}
  
  {%  block content %}

    <div class="d-flex justify-content-center align-items-center " style="height: 100%;">  
        <form method="POST" class="m-4" id="signup">
          {% csrf_token %}          

            <!-- <div class="alert alert-success  alert-dismissible fade show" id="alert" role="alert" style="display:{{signup_alert}};">
              <strong>🙂 Please Login! '</strong> Your account is succefully created. 
              <button type="button" onclick="alertclose()" class=" btn-close" data-bs-dismiss="alert" aria-label="Close">  </button>      
            </div>      -->

            <div class="inputBox">
                {% for field in form %}
                    <div class="inputFieldBox">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field}}   
                    </div>
                {% endfor %}
            </div>            
          <button type="submit" class="btn btn-success my-2">Login</button>
          <a href="/register" class="btn btn-secondary mx-1">Sign Up</a>
        </form>
    </div>

  {% endblock %}

 