{% extends 'user/base.html' %}

  {%  block content %}
    
    <div class="d-flex justify-content-center align-items-center " style="height: 100%; ">  
        <form method="POST" class="m-4" id="signup">
          {% csrf_token %}
            <div class="inputBox">
                {% for field in form %}
                    <div class="inputFieldBox">
                        {{ field.label_tag }}
                        {{ field}}   
                    </div>
                    <small><b style="color: #F44336;">{{field.errors}}</b></small>
                {% endfor %}
            </div>         
          <button type="submit" class="btn btn-success my-2">Sign Up</button>
          <a href="/login" class="btn btn-secondary mx-1">Login</a>
        </form>
    </div>

  {%  endblock  %}
